@charset "UTF-8";

body {
  background: #d4d4d4 url(josefpaijBG.jpg) no-repeat fixed bottom center;
  color:  #484848;
  display: block;
  height: auto;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#root {
  height: auto;
  margin: 0px auto 30px auto;	
  width: 640px;
  position: relative;
}

#logo {
  background-image: url(josef2copy.gif);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41px;
  position: absolute;
  right: 152px;
  top: 15px;
  width: 41px;
}

#logo:hover {
  background-position: top right;
}

#banner {
  background-image: url(newHeader.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 181px;
  margin-top: 1px;
  margin-left: -15px;
  margin-bottom: -57px;	
  position: relative;
  top: 21px;
  width: 639px;
  z-index: -1;
}

#copyright {
  margin-top: calc(50% - 200px);
  text-align: center;
  font-size: 16px;
}

/* text */
.itemTitle {
  margin-bottom: 13px;
  margin-top: 135px;
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -0.3px;
}

a {
  margin-top: -10px;
  color: #333;
  padding: 8px;
}

a:visited	{
  color: #666;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
