@charset "UTF-8";

body {
  background: #d4d4d4 url(josefpaijBG.jpg) no-repeat fixed bottom center;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  color:  #484848;
}

#root {
  width: 640px;
 	margin: 0px auto 30px auto;	
 	height: auto;
}

#logo {
  background: url(josef2copy.gif) top left;
  position: relative;
  top: 35px;
  width: 74px;
  float: right;
  height: 74px;
  margin-right: 61px;
  box-shadow: 0px 5px 31px #999;
  -moz-box-shadow: 0px 5px 31px #999;
  -webkit-box-shadow: 0px 5px 31px #999;
}

#logo:hover {
  background: url(josef2copy.gif) top right;	
}

#banner {
  background: url(newHeader.png) top center;
  height: 266px;
  width: 639px;
  position: relative;
  top: 61px;
  margin-top: -10px;
  margin-left: -15px;
  margin-bottom: -5px;	
  z-index: -1;
}

#video {
  margin: 0px auto 0px auto;
  font-weight: 400;
  font-size: 15px;
}

#copy {
  margin-top: calc(50% - 200px);
  text-align: center;
  font-size: 10px;
}

/* text */
.itemTitle {
  font-weight: 800;
  margin-left: -26px;
  margin-bottom: 13px;
  margin-top: 35px;
  font-size: 30px;
  letter-spacing: -1px;
  text-shadow: 0px 3px 5px #999999;
}

a {
  margin-top: -10px;
  text-decoration: none;
  color: #333;
}

a:visited	{
  color: #666;
}

a:hover {
  background-color: #ccc;
  color: #666;
}

iframe {
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow:  0px 9px 22px #999;
  -moz-box-shadow:  0px 9px 22px #999;
  -webkit-box-shadow:  0px 9px 22px #999;
}
