#thumb-0
{
background:url(/images/tattooImages/) top right repeat #fff;
background-position:320px 300px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;

}

//#thumb-0:hover
//{
//background:url(/images/custom-image-over.png) #fff;
//}

#thumb-1
{
background:url(/images/tattooImages/001.jpg) top right repeat;
background-position:547px 589px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;

}

//#thumb-1:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-2
{
background:url(/images/tattooImages/002.jpg) top right repeat;
background-position:218px 510px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-2:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-3
{
background:url(/images/tattooImages/003.jpg) top right repeat;
background-position:229px 343px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-3:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-4
{
background:url(/images/tattooImages/004.jpg) top right repeat;
background-position:399px 473px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-4:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-5
{
background:url(/images/tattooImages/005.jpg) top right repeat;
background-position:334px 316px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-5:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-6
{
background:url(/images/tattooImages/006.gif) top right repeat;
background-position:242px 211px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-6:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-7
{
background:url(/images/tattooImages/007.jpg) top right repeat;
background-position:221px 583px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-7:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-8
{
background:url(/images/tattooImages/008.jpg) top right repeat;
background-position:317px 432px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-8:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-9
{
background:url(/images/tattooImages/009.jpg) top right repeat;
background-position:317px 432px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-9:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-10
{
background:url(/images/tattooImages/010.jpg) top right repeat;
background-position:245px 486px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-11
{
background:url(/images/tattooImages/011.jpg) top right repeat;
background-position:245px 486px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-12
{
background:url(/images/tattooImages/012.gif) top right repeat;
background-position:245px 486px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-13
{
background:url(/images/tattooImages/013.jpg) top right repeat;
background-position:248px 386px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}


#thumb-14
{
background:url(/images/tattooImages/014.jpg) top right repeat;
background-position:248px 386px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-15
{
background:url(/images/tattooImages/015.jpg) top right repeat;
background-position:248px 386px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-16
{
background:url(/images/tattooImages/016.jpg) top right repeat;
background-position:400px 396px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-17
{
background:url(/images/tattooImages/017.jpg) top right repeat;
background-position:-410px -168px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-18
{
background:url(/images/tattooImages/018.jpg) top right repeat;
background-position:-410px -168px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-19
{
background:url(/images/tattooImages/019.gif) top right repeat;
background-position:-545px -202px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-20
{
background:url(/images/tattooImages/020.jpg) top right repeat;
background-position:-484px -264px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}

#thumb-21
{
background:url(/images/tattooImages/021.jpg) top right repeat;
background-position:-495px -265px;
text-align:right;
margin:0px auto 20px auto;
width:150px;
height:150px;
overflow:visible;
border:1px solid #000;
z-index:1;
}

//#thumb-10:hover
//{
//background:url(/images/pattern-2.gif) #fff;
//}